@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(../assets/font/AvenirNextLTPro-Medium.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(../assets/font/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url(../assets/font/AvenirNextLTPro-Demi.otf);
}
