// Font Colors //
$paragraph-text: #323232;
$text-label: #afafaf;
$text-color-alt: #e1e1e1;
$text-background-fill: #fafafa;
$brainflix-blue: #0065ad;
$brainflix-lightblue: #0095ff;

// Breakpoints //
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

// Typography //
$regular-text: "AvenirNextLTPro-Regular";
$bold-text: "AvenirNextLTPro-Bold";
$demi-text: "AvenirNextLTPro-Demi";

//Font Sizes //
$mobile-h1-header: 1.5rem;
$mobile-h2-subheader: 0.875rem;
$mobile-h4-paragraph: 0.813rem;
$mobile-h5-labels: 0.75rem;

$h1-hero: 3.75rem;
$h1-header: 2.25rem;
$h2-header: 1.5rem;
$h3-subheader: 1rem;
$h4-paragraph: 0.875rem;
$h5-labels: 0.75rem;
